Host *
  ControlMaster auto
  ControlPath ~/.ssh/master-%C
  ControlPersist 300
  # разумно сгенерировать себе два ключа
  # ssh-keygen -t ed25519
  # И
  # ssh-keygen -t rsa
  IdentityFile ~/.ssh/id_ed25519
  IdentityFile ~/.ssh/id_rsa
  # ключи стоит хранить шифроваными
  # MacOS умеет хранить пароль от SSH-ключа в keychain
  UseKeychain yes
  TCPKeepAlive yes
  AddKeysToAgent yes
  PasswordAuthentication yes

  HashKnownHosts yes
  VisualHostKey yes
  StrictHostKeyChecking ask
  VerifyHostKeyDNS yes
  ForwardAgent yes
  ForwardX11 no
  ForwardX11Trusted no
  ServerAliveInterval 15
  ServerAliveCountMax 9
  PermitLocalCommand yes
  IdentitiesOnly yes

  # Актуальные шифры для PCI-DSS
  Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes256-cbc,aes256-ctr
  MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-sha1,hmac-md5
  KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256
  HostKeyAlgorithms ssh-ed25519-cert-v01@openssh.com,ssh-rsa-cert-v01@openssh.com,ssh-ed25519,ssh-rsa,ecdsa-sha2-nistp256

Host git-codecommit.*.amazonaws.com
  IdentityFile ~/.ssh/id_rsa

Host github.com
  User git
  ControlMaster no
  IdentitiesOnly yes
  MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com

# RBS-DEV

Host jump
  HostName 10.99.32.22
  LocalForward 3128 localhost:3128
  User vasin-vv

Host 10.99.18.45 10.99.18.46 10.99.18.47 10.99.18.48 10.99.18.49
  User vasin

Host 10.99.10.*
  User vasin

Host 10.99.* !10.99.32.22 !10.99.36.220
  User vasin-vv
  VisualHostKey yes
  PasswordAuthentication yes
  ProxyJump jump

# VDI and RBS-UAT

Host vdi
  HostName 10.99.36.220
  User vasin-vv
  PasswordAuthentication yes
  DynamicForward 5555
  StrictHostKeyChecking yes

Host 10.213.212.* 10.216.212.* 10.216.216.*
  User vasin
  ProxyJump vdi
  StrictHostKeyChecking ask
  ForwardAgent yes
  ForwardX11 yes
  ForwardX11Trusted yes

Host multigate01-uat
  User vasin-uat
  HostName 10.216.216.115
  ProxyJump vdi
  LocalForward 9996 localhost:9996

# Amazon Web Services

Host aws-bastion
  HostName 18.156.178.54
  User vasin-vv@rbscloud.local
  IdentityFile ~/.ssh/id_ed25519
  PasswordAuthentication yes
  DynamicForward 6666
  VisualHostKey yes
  ForwardAgent yes

# Host 10.192.* 10.195.*
#    ProxyCommand duoconnect -host=%h:%p -relay=https://ssh.rbs.ac
